<div class="order-form">
    <form [formGroup]="orderForm">
        <mat-form-field>
            <!-- <input type="text" matInput formControlName="departureCountry"/> -->
           <mat-label>Страна</mat-label>
            <input type="text"
                placeholder="Страна"
                aria-label="departureCountry"
                matInput
                formControlName="departureCountry"
                [matAutocomplete]="autoDepartureCountry"
                >
            <mat-autocomplete #autoDepartureCountry="matAutocomplete" [displayWith]="displayCountryName">
                <!-- <mat-option *ngFor="let option of testData" [value]="option">
                    {{option}}
                </mat-option> -->
                <mat-option *ngFor="let option of countries" [value]="option">
                    {{option.name}}
                </mat-option>
            </mat-autocomplete>
            <!-- <input matInput placeholder="Логин" formControlName="userName"> -->
            <!-- <mat-error *ngIf="authForm.controls.userName.hasError('required')">
              Обязательное поле.
            </mat-error> -->
            <!-- <mat-error *ngIf="authForm.controls.userName.hasError('minlength')">
              от {{authForm.controls.userName.errors.minlength.requiredLength}} символов пожалуйста
            </mat-error> -->
          </mat-form-field>

          <mat-form-field>
            <mat-label>Город</mat-label>
            <input type="text"
                placeholder="Город"
                aria-label="departureCity"
                matInput
                formControlName="departureCity"
                [matAutocomplete]="autoDepartureCity"
                >
            <mat-autocomplete #autoDepartureCity="matAutocomplete" [displayWith]="displayCityName">
                <!-- <mat-option *ngFor="let option of testData" [value]="option">
                    {{option}}
                </mat-option> -->
                <mat-option *ngFor="let option of filteredCities$ | async" [value]="option">
                    {{option.name}}
                </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Аэропорт</mat-label>
            <input type="text"
                placeholder="Аэропорт"
                aria-label="departureAirport"
                matInput
                formControlName="departureAirport"
                [matAutocomplete]="autoDepartureAirport"
                >
            <mat-autocomplete #autoDepartureAirport="matAutocomplete" [displayWith]="displayAirportName">
                <!-- <mat-option *ngFor="let option of testData" [value]="option">
                    {{option}}
                </mat-option> -->
                <mat-option *ngFor="let option of filteredAirports$ | async" [value]="option">
                    {{option.name}}
                </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        <!-- <div class="auth-dialog" [formGroup]="authForm"> -->



            <!-- /<h1 mat-dialog-title>Вход</h1> -->
          
            <!-- <div class="auth-inputs" mat-dialog-content> -->
              <!-- <mat-form-field [color]="'warn'"> -->
                <!-- <input matInput placeholder="Логин" formControlName="userName">
                <mat-error *ngIf="authForm.controls.userName.hasError('required')">
                  Обязательное поле.
                </mat-error>
                <mat-error *ngIf="authForm.controls.userName.hasError('minlength')">
                  от {{authForm.controls.userName.errors.minlength.requiredLength}} символов пожалуйста
                </mat-error>
              </mat-form-field>
          
              <mat-form-field [color]="'warn'">
                <input type="password" matInput placeholder="Пароль" formControlName="password">
                <mat-error *ngIf="authForm.controls.password.hasError('required')">
                  Обязательное поле.
                </mat-error>
                <mat-error *ngIf="authForm.controls.password.hasError('minlength')">
                  от {{authForm.controls.password.errors.minlength.requiredLength}} символов пожалуйста
                </mat-error>
              </mat-form-field>
              <mat-checkbox>Запомнить</mat-checkbox> -->
            <!-- </div> -->
          
            <!-- <div class="login-button"> -->
              <!-- <button mat-button (click)="signIn()">
                Войти
              </button> -->
            <!-- </div> -->
          
          <!-- </div> -->
    </form>
</div>
